html {
    --section-background-color: linear-gradient(
      to bottom left,
      rgba(59, 59, 59, 0),
      rgba(85, 85, 85, 0)
    );
  
    --image-gradient: linear-gradient(
      to bottom left,
      rgba(88, 88, 88, 0),
      rgba(75, 75, 75, 0)
    );
  
    /* --imp-text-color: #f6f1f8;
    background-image: url(./images/stars_black_bg.jpg);
    background-size: contain;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5),  */
  }
/* --------- */
/* Nav Bar */
/* --------- */
.sticky {
    background-color: #e0dddd09 !important;
    transition: all 0.3s ease-out 0s !important;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    backdrop-filter: blur(15px) !important;
}

.navbar-nav .nav-item a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #ffffff;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
  }
  
  .navbar-nav .nav-item a:hover::after {
    width: 100%;
  }

  @media (max-width: 767px) {
    .nav-link {
      padding: 0.7rem 1rem !important;
    }
  }
  
  .navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
  }
  
  .navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
  }
  .navbar-brand {
    color: rgb(250, 250, 250) !important;
  }
  
  .logo {
    height: 1.4em !important;
    width: 2.5em !important;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  
  .nav-link {
    padding: 0.8rem 1rem !important;
  }
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(-135deg) !important;
    opacity: 0.9 !important;
  }
  
  @media (max-width: 767px) {
    .navbar {
      padding: 1rem 2rem !important;
      font-size: 1.4rem !important;
      background-color: #35353800 !important;
      /* background-image: url(./images/stars_black_bg.jpg);
      background-size: contain; */
    }
    .navbar-nav .nav-item a::after {
      display: none !important;
    }
  }
  .navbar-brand {
    color: rgb(250, 250, 250) !important;
  }
  .navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler {
    padding: 0.25rem 1.5rem !important;
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
  .navbar-toggler span {
    display: block !important;
    background-color: #ffffff !important;
    height: 4px !important;
    width: 27px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0 !important;
  }

  .navbar {
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.3rem 2rem !important;
    font-size: 1.2rem !important;
  }

/* --------- */
/* Home */
/* --------- */

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
body {
  height: 100vh;
   background: linear-gradient(90deg,#000000,#181818);

}

.slider-thumb::before {
	position: absolute;
	content: "";
	left: 30%;
	top: 20%;
	width: 450px;
	height: 450px;
	background: #000000;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */


@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
/* background:transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center; */
z-index:0;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:1;
-moz-animation:move-twink-back 1000s linear infinite;
-ms-animation:move-twink-back 1000s linear infinite;
-o-animation:move-twink-back 1000s linear infinite;
-webkit-animation:move-twink-back 1000s linear infinite;
animation:move-twink-back 1000s linear infinite;
}

.clouds{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  z-index:3;
-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
}

.homeContainer {
  /* display: flex; */
  height: 100%;
  /* flex: 1; */
  /* flex-direction: row; */
	position: absolute;
  padding: 180px 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: #000000;
  margin-top: -100px;
  /* background-image: url(./images/stars_black_bg.jpg); */
  /* background-size: contain; */
  /* background: rgba(0, 0, 0, 0.5),  */
}

/* .homeContainer:hover {
  background-color: #424141;
} */

.nameContainer {
  /* display: flex; */
  /* flex-direction: column; */
  width: 50%;
  position: absolute;
  top: 40%;
  right: 30%;
  width: 50%;
  /* align-items: center; */
  padding: 0px 20px;
}

.textStyleBig {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.imageContainer {
  /* display: flex; */
  width: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  /* justify-content: center; */
}
.imageView {
  display: flex;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: red;
}


/* --------- */
/* Loader */
/* --------- */

.loaderContainer {
  position: absolute;
  top: 40%;
  left: 40%;
}

/* --------- */
/* About */
/* --------- */

.aboutContainer {
  /* display: flex; */
  /* height: 100%; */
  /* flex: 1; */
  /* flex-direction: row; */
  /* background-image: url(./images/stars_black_bg.jpg);
  background-size: contain; */
  position: absolute;
  background-color: #000000;
  padding: 180px 0px;
}


/* --------- */
/* Contact Us */
/* --------- */




/* --------- */
/* Projects */
/* --------- */

/* --------- */
/* Footer */
/* --------- */

.footer {
  background: transparent;
  top: 100%;
  width: 100%;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 8px;
}

.footerText {
  position: absolute;
  font-weight: normal;
  font-size: medium;
  color: white;
  padding: 10px 100px;
  width: 50%;
  right: 50%;
}

.socialIcon {
  position: absolute;
  z-index: 1;
  width: 55%;
  left: 55%;
  padding: 10px 100px 10px 300px;
}